.message-card {
    background-color: var(--background-primary);
    padding-left: 72px;
    padding-top: .125rem;
    padding-bottom: .125rem;
    padding-right: 48px;
    margin: 10px 0px;

    @media screen and (max-width: calc(650px + 240px)) {
        padding-left: 10px;
        padding-right: 0;
    }

    @container (max-width: 650px) {
        padding-left: 10px;
        padding-right: 0;
    }
}