@use "discord"as *;

.sidebar {
    background-color: $background-secondary;

    width: 240px;

    @supports (display: grid) {
        grid-area: sidebar;
        width: unset
    }
}

#sidebar-loading {
    padding-left: 10px;
}

#channels {
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: block;
    padding: 1px 8px;
    border-radius: 4px;

    margin: 2px 0;

    .channel-label {
        padding: 6px 0;
        cursor: var(cursor-pointer);
        display: block;
        color: $channels-default;
        text-decoration: none;
    }
}

.sidebar-item[selected] {
    background: $background-modifier-selected;
}

.sidebar-item:hover {
    background: $background-modifier-hover;
}

.sidebar-item:active {
    background: $background-modifier-active;
}