@use "typography";
@use "utility";

@use "discord"as *;

@use "components/sidebar";
@use "components/message";

/* GENERAL STUFF */
html,
body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    color: $text-normal;
    height: inherit;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

#enable-js {
    padding-left: 10px;
    font-size: large;
}

/* LAYOUT */
#inner-box {
    /* Without grid support: */
    display: table;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-areas: "sidebar main";
    }

    background-color: $background-primary;
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.primary-box {
    padding: 8px;
    display: table-cell;

    @supports (display: grid) {
        display: initial;
    }
}

#chatlog {
    padding: 5px;
    padding-right: 75px;
    height: 100px;
    overflow: auto;
    display: none;
}

#main-content {
    grid-area: main;
}